BPEL_RMS/bpelContent/pinkslip.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://soacourse.unsw.edu.au/pinkslipdefinitions" xmlns:ns1="http://soacourse.unsw.edu.au/pinkslip" name="PSCheckPT" targetNamespace="http://soacourse.unsw.edu.au/pinkslip">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soacourse.unsw.edu.au/pinkslipdefinitions" elementFormDefault="qualified" targetNamespace="http://soacourse.unsw.edu.au/pinkslipdefinitions" version="1.0">

  <xs:element name="ageMessage" type="tns:ageType"/>

  <xs:element name="approvalMessage" type="tns:approvalType"/>

  <xs:element name="renewalInformationMessage" type="tns:renewalInputType"/>

  <xs:element name="vehicleAgeMessage" type="tns:renewalInputType"/>

  <xs:complexType name="renewalInputType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="rego" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="approvalType">
    <xs:sequence>
      <xs:element name="passed" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ageType">
    <xs:sequence>
      <xs:element name="age" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="PSCheckResponse">
    <wsdl:part element="ns2:approvalMessage" name="renewalresp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VehicleAge">
    <wsdl:part element="ns2:vehicleAgeMessage" name="renewalreq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PSCheck">
    <wsdl:part element="ns2:renewalInformationMessage" name="renewalreq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VehicleAgeResponse">
    <wsdl:part element="ns2:ageMessage" name="renewalresp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PSCheckPT">
    <wsdl:operation name="PSCheck">
      <wsdl:input message="ns1:PSCheck" name="PSCheck">
    </wsdl:input>
      <wsdl:output message="ns1:PSCheckResponse" name="PSCheckResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VehicleAge">
      <wsdl:input message="ns1:VehicleAge" name="VehicleAge">
    </wsdl:input>
      <wsdl:output message="ns1:VehicleAgeResponse" name="VehicleAgeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>