PinkSlipCheck/src/main/resources/wsdl/pinkslip.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://soacourse.unsw.edu.au/pinkslip" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msgdef="http://soacourse.unsw.edu.au/pinkslipdefinitions"
	name="PinkSlipCheckService" targetNamespace="http://soacourse.unsw.edu.au/pinkslip">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://soacourse.unsw.edu.au/pinkslipdefinitions"
				schemaLocation="../xsd/pinkslipmessages.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PSCheckRequestMsg">
		<wsdl:part element="msgdef:renewalInformationMessage" name="renewalreq" />
	</wsdl:message>
	<wsdl:message name="PSCheckResponseMsg">
		<wsdl:part element="msgdef:approvalMessage" name="renewalresp" />
	</wsdl:message>
	<wsdl:message name="VehicleAgeResponseMsg">
		<wsdl:part element="msgdef:ageMessage" name="renewalresp" />
	</wsdl:message>
	<wsdl:message name="VehicleAgeRequestMsg">
		<wsdl:part element="msgdef:vehicleAgeMessage" name="renewalreq" />
	</wsdl:message>
	<wsdl:portType name="PSCheckPT">
		<wsdl:operation name="PSCheck">
			<wsdl:input message="tns:PSCheckRequestMsg" />
			<wsdl:output message="tns:PSCheckResponseMsg" />
		</wsdl:operation>
		<wsdl:operation name="VehicleAge">
			<wsdl:input message="tns:VehicleAgeRequestMsg" />
			<wsdl:output message="tns:VehicleAgeResponseMsg" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PinkSlipSOAPBinding" type="tns:PSCheckPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PSCheck">
			<soap:operation
				soapAction="http://soacourse.unsw.edu.au/pinkslip/PSCheck" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehicleAge">
			<soap:operation
				soapAction="http://soacourse.unsw.edu.au/pinkslip/VehicleAge" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PinkSlipCheck">
		<wsdl:port binding="tns:PinkSlipSOAPBinding" name="PinkSlipSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
